.DS_Store
.vscode/
AssetBundles
Assets/09_Effects/Skill/mesh/Materials*
Assets/Editor/Giant/Resources.meta
Assets/Editor/Giant/Resources/GiantSetting.*
Assets/Test*
Assets/VSCode*
Build
Library
obj*
ProjectSettings
ScreenShot_*
Temp*
*.csproj
*.dwlt
*.sln
*.unityproj
*.userprefs



